<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ex.mapper.DeptMapper">

    <select id="queryDeptByNo" parameterType="Integer" resultType="com.ex.entity.Dept">
        select * from dept where deptno=${_parameter}
    </select>

</mapper>